<%- include('./common/header') %>

<!-- Start main-content -->
<main class="main-content dt-sl mt-4 mb-3">
  <div class="container main-container">
    <div class="row">
      <div class="col-12">
        <div class="page dt-sl dt-sn pt-3 pb-5">
          <div class="section-title title-wide mb-1 no-after-title-wide">
            <h2 class="font-weight-bold">about</h2>
          </div>
          <div class="message-light mx-0">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis similique facilis animi deserunt magnam debitis modi doloribus? Quod ipsam nemo quam enim quasi temporibus delectus ipsa iure, commodi expedita. Veniam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dicta facilis voluptates, reiciendis cum repellendus sint iste nemo ea deserunt omnis alias esse eligendi quibusdam. Recusandae voluptas provident quae impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat doloribus, tempora at voluptate officiis ipsam eius natus nemo ut quibusdam! Voluptatibus eius molestiae laboriosam perferendis alias sint sed! Vero, beatae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eius dolores ullam rem, veritatis soluta inventore, dolorum facilis iusto delectus est porro enim laudantium temporibus sed praesentium, sunt quam ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore earum cum quibusdam ullam corporis explicabo iusto quo velit doloremque? Fuga animi ea optio officiis nam omnis est hic totam officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum beatae nesciunt soluta. Corporis, voluptatibus quibusdam eos rem doloremque voluptate vitae facilis, nulla magni necessitatibus recusandae facere porro deserunt rerum doloribus.</p>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- End main-content -->

<%- include('./common/footer') %>
