<%- include('./common/header') %>

<!-- Start main-content -->
<main class="main-content dt-sl mt-4 mb-3">
  <div class="container main-container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h1>Consulting?</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- End main-content -->

<%- include('./common/footer') %>
