<%- include('./common/header') %>

<!-- Start main-content -->
<main class="main-content dt-sl mt-4 mb-3">
  <div class="container main-container">
    <!-- Start Product -->
    <div class="dt-sn mb-5 dt-sl">
      <div class="row">
        <!-- Product Gallery-->
        <div class="col-lg-4 col-md-6 pb-5 ps-relative">
          <!-- Product Options-->
          <ul class="gallery-options"></ul>
          <div class="product-gallery">
            <span class="badge"> Bestsellers</span>
          </div>
        </div>
        <!-- Product Info -->
        <div class="col-lg-8 col-md-6 pb-5">
          <div class="product-info dt-sl">
            <div class="product-title dt-sl">
              <h1></h1>
            </div>
            <div class="product-params dt-sl">
              <span>Product Description</span>
              <p></p>
            </div>
            <div
              class="
                section-title
                text-sm-title
                title-wide
                no-after-title-wide
                mb-0
                dt-sl
              "
            >
              <h2>
                Price
                <span class="price"></span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Product -->
  </div>
</main>
<!-- End main-content -->

<%- include('./common/footer') %>
